.example-card {
  max-width: 400px;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}

img:hover {
  cursor: pointer;
}

mat-card {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}